<a href="https://colab.research.google.com/github/emincingoz/Machine_Learning_Collection/blob/main/gender_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gender Classification

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from keras.models import Sequential
from keras.layers import Convolution2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

In [3]:
!ls -al /content/drive/MyDrive/CNN

total 6
-rw------- 1 root root 5636 Feb 16 20:38 gender_classification.ipynb

In [4]:
!ls -al /content/drive/MyDrive/dataset

total 8
drwx------ 2 root root 4096 Feb 13 12:52 test_set
drwx------ 2 root root 4096 Feb 13 12:52 training_set

In [5]:
classifier = Sequential()

In [6]:
# Convolution
# input_shape: (64, 64), 3 katmanlı resim input alınacak (3 katman: red, green, blue renk katmanları için)
classifier.add(Convolution2D(32, 3, 3, input_shape = (64, 64, 3), activation = 'relu'))

In [7]:
# Pooling
classifier.add(MaxPooling2D(pool_size = (2, 2)))

In [8]:
# Second Convolution Layer
classifier.add(Convolution2D(32, 3, 3, activation = 'relu'))

# Second Pooling Layer
classifier.add(MaxPooling2D(pool_size = (2, 2)))

In [9]:
# Flattening
classifier.add(Flatten())

In [10]:
# Artificial Neural Network
classifier.add(Dense(units = 128, activation = 'relu'))
classifier.add(Dense(units = 1, activation = 'sigmoid'))

In [11]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [12]:
# Images
from keras.preprocessing.image import ImageDataGenerator

train_datagen = ImageDataGenerator(rescale = 1./255, 
                                   shear_range = 0.2, 
                                   zoom_range = 0.2, 
                                   horizontal_flip = True)

test_datagen = ImageDataGenerator(rescale = 1./255,
                                  shear_range = 0.2,
                                  zoom_range = 0.2,
                                  horizontal_flip = True)

training_set = train_datagen.flow_from_directory('/content/drive/MyDrive/dataset/training_set',
                                                 target_size = (64, 64),
                                                 batch_size = 1,
                                                 class_mode = 'binary')

test_set = test_datagen.flow_from_directory('/content/drive/MyDrive/dataset/test_set',
                                            target_size = (64, 64),
                                            batch_size = 1,
                                            class_mode = 'binary')

Found 2662 images belonging to 2 classes.
Found 203 images belonging to 2 classes.

In [14]:
classifier.fit(training_set, 
               #steps_per_epoch = len(trainin_set) // batch_size,
               epochs = 5,
               validation_data = test_set,
               #validation_steps = len(test_set) // batch_size
               )

Epoch 1/5
2662/2662 [==============================] - 703s 264ms/step - loss: 0.5548 - accuracy: 0.7085 - val_loss: 0.4313 - val_accuracy: 0.7685
Epoch 2/5
2662/2662 [==============================] - 28s 10ms/step - loss: 0.4181 - accuracy: 0.7945 - val_loss: 0.4058 - val_accuracy: 0.7488
Epoch 3/5
2662/2662 [==============================] - 28s 10ms/step - loss: 0.3553 - accuracy: 0.8231 - val_loss: 0.3109 - val_accuracy: 0.7882
Epoch 4/5
2662/2662 [==============================] - 28s 10ms/step - loss: 0.3392 - accuracy: 0.8373 - val_loss: 0.2781 - val_accuracy: 0.8128
Epoch 5/5
2662/2662 [==============================] - 27s 10ms/step - loss: 0.3252 - accuracy: 0.8325 - val_loss: 0.2518 - val_accuracy: 0.8571

In [17]:
import numpy as np
import pandas as pd

test_set.reset()
pred = classifier.predict(test_set, verbose = 1)

203/203 [==============================] - 2s 12ms/step

In [18]:
pred[pred > 0.5] = 1
pred[pred <= .5] = 0

In [19]:
test_labels = []

for i in range(len(test_set)):
  test_labels.extend(np.array(test_set[i][1]))

print(test_labels)

[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]

In [20]:
file_names = test_set.filenames

result = pd.DataFrame()
result['file_names'] = file_names
result["predictions"] = pred
result["test_labels"] = test_labels
result

                                            file_names  ...  test_labels
0    man/AbdA_00001_m_31_i_fr_nc_no_2016_2_e0_nl_o.jpg  ...          0.0
1    man/AbdA_00002_m_31_i_fr_nc_sr_2016_2_e0_nl_o.jpg  ...          1.0
2    man/AbdA_00003_m_31_i_fr_nc_hp_2016_2_e0_nl_o.jpg  ...          0.0
3    man/AbdA_00004_m_31_i_fr_nc_hp_2016_2_e0_nl_o.jpg  ...          0.0
4    man/AbdA_00005_m_31_i_fr_nc_hp_2016_2_e0_nl_o.jpg  ...          0.0
..                                                 ...  ...          ...
198  woman/HadM_00817_f_23_i_nf_nc_hp_2014_1_e0_nl_...  ...          0.0
199  woman/HadM_00818_f_25_o_nf_nc_no_2016_1_e0_nl_...  ...          0.0
200  woman/HadM_00819_f_25_o_nf_nc_no_2016_1_e0_nl_...  ...          0.0
201  woman/HebD_00821_f_28_i_nf_cr_sd_2016_1_e0_nl_...  ...          1.0
202  woman/HebD_00822_f_28_o_nf_nc_hp_2016_1_e0_nl_...  ...          0.0

[203 rows x 3 columns]

In [21]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(test_labels, pred)
print(cm)

[[121  30]
 [ 40  12]]

In [22]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 21, 21, 32)        896

 max_pooling2d (MaxPooling2D  (None, 10, 10, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 3, 3, 32)          9248

 max_pooling2d_1 (MaxPooling  (None, 1, 1, 32)         0
 2D)

 flatten (Flatten)           (None, 32)                0

 dense (Dense)               (None, 128)               4224

 dense_1 (Dense)             (None, 1)                 129

=================================================================
Total params: 14,497
Trainable params: 14,497
Non-trainable params: 0
_________________________________________________________________